/* general */

html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

a,
a:hover {
    text-decoration: none!important;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Product Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #ffffff;
}

.container {
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: center;
}

.title_add_book {
    text-align: center;
    margin-bottom: 15px;
}

.form_add_book {
    width: 40%;
}

.form_control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form_add_book_input {
    max-width: 220px;
    width: 220px;
    color: #000000;
    font-weight: bold;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 14px;
    line-height: 1.42857143;
}

.btn_place {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn_accept {
    border: 0;
    margin-right: 10px;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    color: #000000;
    background-color: #56B156;
}