{% extends 'base.html' %}
{% block main %}
    <form class="form_add_book" method="post" action="/add_book">
        <h1 class="title_add_book">Добавить новую книгу</h1>
        <div class="form_control">
            <label>Название книги</label>
            <input class="form_add_book_input" name="title_book" type="text">
        </div>
        <div class="form_control">
            <label>Жанр</label>
            <input class="form_add_book_input" name="genre_book" type="text">
        </div>
        <div class="form_control">
            <label>Описание</label>
            <textarea class="form_add_book_textarea form_add_book_input" name="description_book" type="text"> </textarea>
        </div>
        <div class="form_control">
            <label>Год издания</label>
            <input class="form_add_book_input" name="year_book" type="text">
        </div>
        <div class="form_control">
            <label>Автор</label>
            <input class="form_add_book_input" name="author_book" type="text">
        </div>
        <div class="form_control">
            <label>Издательство</label>
            <input class="form_add_book_input" name="publishing_house_book" type="text">
        </div>
        <div class="form_control">
            <label>Количество страниц</label>
            <input class="form_add_book_input" name="count_pages_book" type="text">
        </div>
        <div class="btn_place">
            <button class="btn_accept">Добавить</button>
        </div>
    </form>
{% endblock %}
