{% extends 'base.html' %}
{% block main %}
    <h1>Жанры книг</h1>
    <div class="genre_list_item">
        <a href="#" class="genre_list_link">Фантастика и Фентези</a>
        <div class="genre_list_item_inner">
            <a href="/biblioteka/131/fantastika-i-fentezi/boevaya-fantastika">Боевая фантастика</a><a href="/biblioteka/133/fantastika-i-fentezi/geroicheskaya-fantastika">Героическая фантастика</a><a href="/biblioteka/149/fantastika-i-fentezi/gorodskoe-fentezi">Городское фэнтези</a>
            <a href="/biblioteka/151/fantastika-i-fentezi/goticheskij-roman">Готический роман</a><a href="/biblioteka/134/fantastika-i-fentezi/detektivnaya-fantastika">Детективная фантастика</a><a href="/biblioteka/155/fantastika-i-fentezi/ironicheskaya-fantastika">Ироническая фантастика</a>
            <a href="/biblioteka/156/fantastika-i-fentezi/ironicheskoe-fentezi">Ироническое фэнтези</a>
            <a href="/biblioteka/162/fantastika-i-fentezi/istoricheskoe-fentezi">Историческое фэнтези</a><a href="/biblioteka/135/fantastika-i-fentezi/kiberpank">Киберпанк</a><a href="/biblioteka/136/fantastika-i-fentezi/kosmicheskaya-fantastika">Космическая фантастика</a>
            <a href="/biblioteka/158/fantastika-i-fentezi/kosmoopera">Космоопера</a>
            <a href="/biblioteka/275/fantastika-i-fentezi/litrpg">ЛитРПГ</a><a href="/biblioteka/157/fantastika-i-fentezi/mistika">Мистика</a><a href="/biblioteka/141/fantastika-i-fentezi/nauchnaya-fantastika">Научная фантастика</a><a href="/biblioteka/152/fantastika-i-fentezi/nenauchnaya-fantastika">Ненаучная фантастика</a>
            <a href="/biblioteka/161/fantastika-i-fentezi/popadantsy">Попаданцы</a><a href="/biblioteka/150/fantastika-i-fentezi/postapokalipsis">Постапокалипсис</a><a href="/biblioteka/153/fantastika-i-fentezi/skazochnaya-fantastika">Сказочная фантастика</a>
            <a href="/biblioteka/137/fantastika-i-fentezi/sotsialno-filosofskaya-fantastika">Социально-философская фантастика</a>
            <a href="/biblioteka/159/fantastika-i-fentezi/stimpank">Стимпанк</a><a href="/biblioteka/160/fantastika-i-fentezi/tekhnofentezi">Технофэнтези</a><a href="/biblioteka/138/fantastika-i-fentezi/uzhasy-i-mistika">Ужасы и мистика</a>
            <a href="/biblioteka/154/fantastika-i-fentezi/fantastika-prochee">Фантастика: прочее</a>
            <a href="/biblioteka/140/fantastika-i-fentezi/fentezi">Фэнтези</a><a href="/biblioteka/132/fantastika-i-fentezi/epicheskaya-fantastika">Эпическая фантастика</a><a href="/biblioteka/139/fantastika-i-fentezi/yumoristicheskaya-fantastika">Юмористическая фантастика</a>
            <a href="/biblioteka/163/fantastika-i-fentezi/yumoristicheskoe-fentezi">Юмористическое фэнтези</a>
        </div>
    </div>
    <a href="#" class="genre_list_link">Детективы и Триллеры</a>
    <div class="genre_list_item_inner">
        <a href="/biblioteka/131/fantastika-i-fentezi/boevaya-fantastika">Боевая фантастика</a><a href="/biblioteka/133/fantastika-i-fentezi/geroicheskaya-fantastika">Героическая фантастика</a><a href="/biblioteka/149/fantastika-i-fentezi/gorodskoe-fentezi">Городское фэнтези</a>
        <a href="/biblioteka/151/fantastika-i-fentezi/goticheskij-roman">Готический роман</a><a href="/biblioteka/134/fantastika-i-fentezi/detektivnaya-fantastika">Детективная фантастика</a><a href="/biblioteka/155/fantastika-i-fentezi/ironicheskaya-fantastika">Ироническая фантастика</a>
        <a href="/biblioteka/156/fantastika-i-fentezi/ironicheskoe-fentezi">Ироническое фэнтези</a>
        <a href="/biblioteka/162/fantastika-i-fentezi/istoricheskoe-fentezi">Историческое фэнтези</a><a href="/biblioteka/135/fantastika-i-fentezi/kiberpank">Киберпанк</a><a href="/biblioteka/136/fantastika-i-fentezi/kosmicheskaya-fantastika">Космическая фантастика</a>
        <a href="/biblioteka/158/fantastika-i-fentezi/kosmoopera">Космоопера</a>
        <a href="/biblioteka/275/fantastika-i-fentezi/litrpg">ЛитРПГ</a><a href="/biblioteka/157/fantastika-i-fentezi/mistika">Мистика</a><a href="/biblioteka/141/fantastika-i-fentezi/nauchnaya-fantastika">Научная фантастика</a><a href="/biblioteka/152/fantastika-i-fentezi/nenauchnaya-fantastika">Ненаучная фантастика</a>
        <a href="/biblioteka/161/fantastika-i-fentezi/popadantsy">Попаданцы</a><a href="/biblioteka/150/fantastika-i-fentezi/postapokalipsis">Постапокалипсис</a><a href="/biblioteka/153/fantastika-i-fentezi/skazochnaya-fantastika">Сказочная фантастика</a>
        <a href="/biblioteka/137/fantastika-i-fentezi/sotsialno-filosofskaya-fantastika">Социально-философская фантастика</a>
        <a href="/biblioteka/159/fantastika-i-fentezi/stimpank">Стимпанк</a><a href="/biblioteka/160/fantastika-i-fentezi/tekhnofentezi">Технофэнтези</a><a href="/biblioteka/138/fantastika-i-fentezi/uzhasy-i-mistika">Ужасы и мистика</a>
        <a href="/biblioteka/154/fantastika-i-fentezi/fantastika-prochee">Фантастика: прочее</a>
        <a href="/biblioteka/140/fantastika-i-fentezi/fentezi">Фэнтези</a><a href="/biblioteka/132/fantastika-i-fentezi/epicheskaya-fantastika">Эпическая фантастика</a><a href="/biblioteka/139/fantastika-i-fentezi/yumoristicheskaya-fantastika">Юмористическая фантастика</a>
        <a href="/biblioteka/163/fantastika-i-fentezi/yumoristicheskoe-fentezi">Юмористическое фэнтези</a>
    </div>
    <a href="#" class="genre_list_link">Проза</a>
    <div class="genre_list_item_inner">
        <a href="/biblioteka/131/fantastika-i-fentezi/boevaya-fantastika">Боевая фантастика</a><a href="/biblioteka/133/fantastika-i-fentezi/geroicheskaya-fantastika">Героическая фантастика</a><a href="/biblioteka/149/fantastika-i-fentezi/gorodskoe-fentezi">Городское фэнтези</a>
        <a href="/biblioteka/151/fantastika-i-fentezi/goticheskij-roman">Готический роман</a><a href="/biblioteka/134/fantastika-i-fentezi/detektivnaya-fantastika">Детективная фантастика</a><a href="/biblioteka/155/fantastika-i-fentezi/ironicheskaya-fantastika">Ироническая фантастика</a>
        <a href="/biblioteka/156/fantastika-i-fentezi/ironicheskoe-fentezi">Ироническое фэнтези</a>
        <a href="/biblioteka/162/fantastika-i-fentezi/istoricheskoe-fentezi">Историческое фэнтези</a><a href="/biblioteka/135/fantastika-i-fentezi/kiberpank">Киберпанк</a><a href="/biblioteka/136/fantastika-i-fentezi/kosmicheskaya-fantastika">Космическая фантастика</a>
        <a href="/biblioteka/158/fantastika-i-fentezi/kosmoopera">Космоопера</a>
        <a href="/biblioteka/275/fantastika-i-fentezi/litrpg">ЛитРПГ</a><a href="/biblioteka/157/fantastika-i-fentezi/mistika">Мистика</a><a href="/biblioteka/141/fantastika-i-fentezi/nauchnaya-fantastika">Научная фантастика</a><a href="/biblioteka/152/fantastika-i-fentezi/nenauchnaya-fantastika">Ненаучная фантастика</a>
        <a href="/biblioteka/161/fantastika-i-fentezi/popadantsy">Попаданцы</a><a href="/biblioteka/150/fantastika-i-fentezi/postapokalipsis">Постапокалипсис</a><a href="/biblioteka/153/fantastika-i-fentezi/skazochnaya-fantastika">Сказочная фантастика</a>
        <a href="/biblioteka/137/fantastika-i-fentezi/sotsialno-filosofskaya-fantastika">Социально-философская фантастика</a>
        <a href="/biblioteka/159/fantastika-i-fentezi/stimpank">Стимпанк</a><a href="/biblioteka/160/fantastika-i-fentezi/tekhnofentezi">Технофэнтези</a><a href="/biblioteka/138/fantastika-i-fentezi/uzhasy-i-mistika">Ужасы и мистика</a>
        <a href="/biblioteka/154/fantastika-i-fentezi/fantastika-prochee">Фантастика: прочее</a>
        <a href="/biblioteka/140/fantastika-i-fentezi/fentezi">Фэнтези</a><a href="/biblioteka/132/fantastika-i-fentezi/epicheskaya-fantastika">Эпическая фантастика</a><a href="/biblioteka/139/fantastika-i-fentezi/yumoristicheskaya-fantastika">Юмористическая фантастика</a>
        <a href="/biblioteka/163/fantastika-i-fentezi/yumoristicheskoe-fentezi">Юмористическое фэнтези</a>
    </div>
    <a href="#" class="genre_list_link">Любовные романы</a>
    <div class="genre_list_item_inner">
        <a href="/biblioteka/131/fantastika-i-fentezi/boevaya-fantastika">Боевая фантастика</a><a href="/biblioteka/133/fantastika-i-fentezi/geroicheskaya-fantastika">Героическая фантастика</a><a href="/biblioteka/149/fantastika-i-fentezi/gorodskoe-fentezi">Городское фэнтези</a>
        <a href="/biblioteka/151/fantastika-i-fentezi/goticheskij-roman">Готический роман</a><a href="/biblioteka/134/fantastika-i-fentezi/detektivnaya-fantastika">Детективная фантастика</a><a href="/biblioteka/155/fantastika-i-fentezi/ironicheskaya-fantastika">Ироническая фантастика</a>
        <a href="/biblioteka/156/fantastika-i-fentezi/ironicheskoe-fentezi">Ироническое фэнтези</a>
        <a href="/biblioteka/162/fantastika-i-fentezi/istoricheskoe-fentezi">Историческое фэнтези</a><a href="/biblioteka/135/fantastika-i-fentezi/kiberpank">Киберпанк</a><a href="/biblioteka/136/fantastika-i-fentezi/kosmicheskaya-fantastika">Космическая фантастика</a>
        <a href="/biblioteka/158/fantastika-i-fentezi/kosmoopera">Космоопера</a>
        <a href="/biblioteka/275/fantastika-i-fentezi/litrpg">ЛитРПГ</a><a href="/biblioteka/157/fantastika-i-fentezi/mistika">Мистика</a><a href="/biblioteka/141/fantastika-i-fentezi/nauchnaya-fantastika">Научная фантастика</a><a href="/biblioteka/152/fantastika-i-fentezi/nenauchnaya-fantastika">Ненаучная фантастика</a>
        <a href="/biblioteka/161/fantastika-i-fentezi/popadantsy">Попаданцы</a><a href="/biblioteka/150/fantastika-i-fentezi/postapokalipsis">Постапокалипсис</a><a href="/biblioteka/153/fantastika-i-fentezi/skazochnaya-fantastika">Сказочная фантастика</a>
        <a href="/biblioteka/137/fantastika-i-fentezi/sotsialno-filosofskaya-fantastika">Социально-философская фантастика</a>
        <a href="/biblioteka/159/fantastika-i-fentezi/stimpank">Стимпанк</a><a href="/biblioteka/160/fantastika-i-fentezi/tekhnofentezi">Технофэнтези</a><a href="/biblioteka/138/fantastika-i-fentezi/uzhasy-i-mistika">Ужасы и мистика</a>
        <a href="/biblioteka/154/fantastika-i-fentezi/fantastika-prochee">Фантастика: прочее</a>
        <a href="/biblioteka/140/fantastika-i-fentezi/fentezi">Фэнтези</a><a href="/biblioteka/132/fantastika-i-fentezi/epicheskaya-fantastika">Эпическая фантастика</a><a href="/biblioteka/139/fantastika-i-fentezi/yumoristicheskaya-fantastika">Юмористическая фантастика</a>
        <a href="/biblioteka/163/fantastika-i-fentezi/yumoristicheskoe-fentezi">Юмористическое фэнтези</a>
    </div>
{% endblock %}
