{% extends 'base.html' %}
{% block main %}
    <div class="registration">
        <h1>Регистрация</h1>
        <form class="form_registration" action="/registration" method="post">
            <div class="form_item">
                <label>E-mail</label>
                <input class="input_autho input_email" name="mail" type="email" required>
            </div>
            <div class="form_item">
                <label>Пароль</label>
                <input class="input_autho input_pass" name="pass" type="password" required>
            </div>
            <button type="submit" class="btn_accept_authorization">Зарегестрироваться</button>
        </form>
    </div>
    <div class="modal_reg modal_error" id="modal_error" style="display: none;">
        Пользователь с такими данными уже зарегестрирован.
    </div>
    <script>
        function show_modal_error(){
            let modal = document.getElementById("modal_error");
            modal.style.display = "block";
            setTimeout(()=>{
                modal.style.display = "none";
            }, 3000);
        }
        {% if err == True %}
            show_modal_error()
        {% endif %}
    </script>
{% endblock %}
