{% extends 'base.html' %}
{% block main %}
    <div class="book_page">
        <div class="book_image_other">
            <div class="book_image">
                <img src="https://online-knigi.com.ua/pic/6/9/8/1/0/7/kniga-teploizolyacionnye-raboty-spravochnoe-posobie.jpg" alt="">
            </div>
            <div class="book_count_pages">Количество страниц: {{ book.pageCount }}</div>
            <div class="book_date">Год издания: {{ book.year }}</div>
            <div class="book_publishing_house">Под издательством: {{ book.publishingHouse }}</div>

        </div>

        <div class="book_title_description">
            <h1 class="book_title"> {{ book.name }} </h1>
            <div class="book_genre">
                <a href="#" class="book_genre_link"> {{ book.genre }} </a>
            </div>
            <div class="book_author">
                <a href="#" class="book_author_link"> {{ book.author }} </a>
            </div>
            <div class="read_book">
                <button class="btn_read_book">Читать книгу</button>
            </div>
            <div class="book_description">
                {{ book.annotation }}
            </div>
        </div>
    </div>
    <div class="title_similar_books">
        <h1>Похожие книги</h1>
    </div>
    <div class="similar_books">
        {% for item in books %}
        <div class="similar_book_item">
            <a href="book/{{ item.id }}" class="book_snippet">
                <div class="book_snippet_image">
                    <img src="https://online-knigi.com.ua/pic/7/2/5/9/7/2/kniga-tvoe-slovo-si.webp" alt="">
                </div>
                <div class="book_snippet_name"> {{ item.name }}</div>
                <div class="book_snippet_autor">{{ item.author }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}